/*Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Universal styles*/
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #cb8757;
    --text-color: #171427;
    --bg-color: #bcc0c3;
    --s1-color: #5f9cc8;
    --s2-color: #434645;
    --s3-color: #d1d7dc;
    font-size: 14px;
    background: rgb(209, 215, 220);
    background: radial-gradient(circle, rgba(209, 215, 220, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(188, 192, 195, 1) 100%);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #444444;
}

a {
    text-decoration: none;
    color: var(--s1-color);
}

a:hover,
a:focus {
    color: var(--s1-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #222222;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 12px 0;
}

/* Nav Bar Styles */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80x;
    background-color: var(--bg-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background: rgb(67, 70, 69);
    background: linear-gradient(90deg, rgba(67, 70, 69, 1) 0%, rgba(95, 156, 200, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    color: var(--bg-color);
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--s2-color);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--main-color);
    transition: color 0.3s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--bg-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#bar {
    width: auto;
    height: auto;
    font-size: 5rem;
    margin-right: 30px;
    color: white;
}

#close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 1.5rem;
}

#close-img {
    height: 16px;
    width: 16px;
}

/* Misc. Styles */

#logo {
    height: 75px;
    width: auto;
    margin: 0;
}

#banner {
    width: 100%;
    height: 150px;
    object-fit: cover
}

/* Styles for about */

#about-index {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    font-size: 1.25rem;
}

#description-info {
    margin-top: 0;
}

#description li,
#social li {
    display: inline;
}
#description li i {
    font-size:2rem;
    padding: 10px;
}

#social {
    display: flex;
    justify-content: center;
}
#social li i {
    font-size:3rem;
    padding: 20px;
}

/* Social Media Icons for index.html and about.html */
#description li a.twitter,
#social li a.twitter  {
    color: #1DA1F2;
    transition: color 0.3s ease;
}

#description li a.twitter:hover,
#social li a.twitter:hover  {
    color: var(--s1-color);
}

#description li a.instagram,
#social li a.instagram {
    color: #E4405F;
    transition: color 0.3s ease;
}

#description li a.instagram:hover,
#social li a.instagram:hover  {
    color: var(--s1-color);
}

#description li a.tiktok,
#social li a.tiktok {
    color: #69C9D0;
    transition: color 0.3s ease;
}

#description li a.tiktok:hover,
#social li a.tiktok:hover  {
    color: var(--s1-color);
}

#band {
    width: 100%;
}

#band-image {
    border-radius: 5px;
    width: 100%;
    height: 240px;
    border: 1px solid var(--s2-color);
}

/* Styles for albums */

.album-name {
    color: var(--main-color);
    margin-bottom: 16px;
}

.album-year {
    color: var(--s1-color);
    margin-bottom: 16px;
}

#albums {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

.listen-spotify {
    float: right;
}

#spotify-button {
    background-color: var(--bg-color);
    border-radius: 5px;
    border-color: var(--s3-color);
    color: white;
    padding: 2.5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#spotify-button:hover {
    background-color: var(--s1-color);
    transition: color 0.3s ease;
    cursor: pointer;
}

/* Styles for shows list/table*/

h2 {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

#shows {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

.show-info {
    border: 1px solid var(--s1-color);
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 8px;
}

#shows-list {
    display: block;
}

.show-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #222222;
}

.show-detail {
    margin-top: 4px;
    color: var(--s2-color);
}

#shows-table {
    display: none;
}

#live-button {
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    padding: 2.5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

#live-button:hover {
    background-color: var(--s1-color);
    transition: color 0.3s ease;
    cursor: pointer;
}

#live-button {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#live-column {
    text-align:center;
}

/* Footer Styles and copyright */

h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.75rem;
    transition: color 0.3s ease;

}

#footer {
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
    text-align: center;
    padding: 0px;
}

#footer-links li {
    padding: 0 16px;
    margin: 8px 16px;
    display: inline;
    justify-content: center;
}

#footer-links li i {
    font-size: 2.5rem;
}

.copyright {
    color: #222222;
    font-size: 0.875rem;
    text-align: center;
}

#footer-links li a.spotify {
    color: #1DB954;
    transition: color 0.3s ease;
}

#footer-links li a.spotify:hover {
    color: var(--s1-color);
}

#footer-links li a.apple {
    color: var(--s3-color) 50%;
    transition: color 0.3s ease;
}

#footer-links li a.apple:hover {
    color: var(--s1-color);
}

#footer-links li a.youtube {
    color: #FF0000;
    transition: color 0.3s ease;
}

#footer-links li a.youtube:hover {
    color: var(--s1-color);
}

/* Form styles, will use for index.html*/

#ticket-book {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

.ticket-group {
    margin: 16px;
}

.ticket-group label {
    font-weight: 600;
}

.ticket-group input,
select,
textarea {
    width: 90%;
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid var(--s3-color);
}

.ticket-group textarea {
    font-family: 'Montserrat', sans-serif;
}

.ticket-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.ticket-group input[type="submit"] {
    background-color: var(--s1-color);
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
}

/* About Section in about.html */

.bigtext {
    text-align: center;
    color: var(--text-color);
}

#about-section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto 48px auto;
    /* Prevent content overflow */
    border: 1px solid var(--s2-color);
}

#about-text {
    width: 100%;
    font-size: 1.25rem;
    margin: 0 auto;
    padding: 10px 0;
}

#about-image-wrap {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

#about-image {
    width: 100%;
    height: 100%;
}

.smalltext {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
    width: 100%;
}

#hi-and-name {
    margin-top: 52px;
    text-align: center;
}

#contact-button {
    height: 44px;
    width: 138px;
    border-radius: 4px;
    background-image: linear-gradient(225deg, var(--bg-color) 0%, var(--s1-color) 50%, var(--s3-color) 100%);
    background-size: 200% auto;
    color: #444444;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border: 1px solid var(--s3-color);
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#contact-button:hover {
    background-position: right center;
    color: var(--main-color);
    text-decoration: none;
}

/* Discography Section in about.html */

#disco-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#disco-card {
    width: 300px;
    height: 400px;
    margin: 20px;
    border: 1px solid var(--main-color);
    background-color: var(--s1-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#album-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-bottom: 1px solid var(--bg-color);
}

.album-info {
    padding: 10px;
    max-height: 40%;
    overflow: hidden;
}

.album-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--s2-color);
}

.album-date {
    font-style: italic;
    margin-top: 8px;
    color: var(--s3-color);
}

.album-description {
    margin-top: 10px;
    font-size: 1.25rem;
    color: var(--text-color);
}

/* Info-Platforms Section */

#info-section {
    max-width: 1060px;
    margin: 0 auto;
}

#info-section-header {
    text-align: center;
}

.overtitle {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 14px;
    text-transform: uppercase;
    color: #2f2f2f;
    text-align: center;
    margin-bottom: 8px;
}

.info-section-heading {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.info-section-subtitle {
    text-align: center;
    margin: 8px auto 48px auto;
    max-width: 500px;

}

.info-section-boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-section-box {
    background-color: var(--s3-color);
}

.info-card {
    background-color: var(--s3-color);
    text-align: center;
    margin: 0;
    border-radius: 0;
    box-shadow: 6px 2px 25px -9x #0000001A;
    width: 100%;
}


.platform {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--s1-color);
    margin-top: 20px;
}


.song-count {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 54px;
    margin-top: 8px;
    color: #000000;
}

.song-count-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #8A8A8A;
}

.description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 21px;
    color: #8b8b8b;
    margin: 8px;
}

.desc-list {
    padding: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

.desc-list ul {
    padding: 0;
}

.desc-list li {
    margin-bottom: 8px;
    list-style-type: none;
}

.listen-button {
    width: 80%;
    height: 44px;
    border-radius: 4px;
    border-width: 2px;
    border: 2px solid #2f2f2f;
    background-color: #ffffff;
    color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
}

.listen-button:hover {
    background-color: #2f2f2f;
    color: var(--s1-color);
    border-bottom: 2px solid var(--main-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

#checkmark {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
}

/* Styles for shop.html */

#product-img {
    width: 100%;
}

body {
    color: var(--text-color);
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--bg-color);
}

/* Cart */
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: rgb(188, 192, 195);
    background: linear-gradient(225deg, rgba(188, 192, 195, 1) 0%, rgba(95, 156, 200, 1) 50%, rgba(209, 215, 220, 1) 100%);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 1;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: bg-color;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: var(--text-color);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

/* Shop Content */

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17);
}

/* LIVE 23/24 Live.html Styles */

/* Band Info Styling */
.band-section {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px;
}

#band-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#band-details .details {
    width: 100%;
    margin-bottom: 30px;
}

#band-details .details h2 {
    font-size: 3rem;
    line-height: 35px;
    padding: 15px;
    border-bottom: 1px solid var(--s1-color);
    border-bottom-style: dotted;
}

#band-details .details h3 {
    font-size: 2rem;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

#band-details .details li {
    display: flex;
    padding: 10px 0;
}

#band-details .details li i {
    font-size: 1.25rem;
    padding-right: 22px;
}

#band-details .details li p {
    margin: 0;
    font-size: 1.5rem;
}

#vocalist {
    font-size: 1rem;
    background: var(--s1-color);
    background: -webkit-radial-gradient(33% 100% circle, var(--s1-color) 4%, var(--main-color) 30%, var(--s1-color) 62%, var(--main-color) 85%, var(--s1-color));
    background: radial-gradient(circle at 33% 100%, var(--s1-color) 4%, var(--main-color) 30%, var(--s1-color) 62%, var(--main-color) 85%, var(--s1-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#composer {
    font-size: 1rem;
    background: var(--main-color);
    background: -webkit-radial-gradient(33% 100% circle, var(--main-color) 4%, var(--s1-color) 30%, var(--main-color) 62%, var(--s1-color) 85%, var(--main-color));
    background: radial-gradient(circle at 33% 100%, var(--main-color) 4%, var(--s1-color) 30%, var(--main-color) 62%, var(--s1-color) 85%, var(--main-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#guitar {
    font-size: 1rem;
    color: var(--main-color);
}

#bass {
    font-size: 1rem;
    color: var(--s1-color);
}

#drum {
    font-size: 1rem;
    color: var(--s2-color);
}

#piano {
    font-size: 1rem;
    color: var(--sg-color) 25%;
}

/* Venue Info Styling */
.venue-section {
    border: 1px solid var(--s1-color);
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 8px;
}

#venue-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#venue-details .details {
    width: 100%;
    margin-bottom: 30px;
}

#venue-details .details span {
    font-size: 2rem;
    font-weight: 600;
    color: var(--s1-color);
}

#venue-details .details h2 {
    font-size: 2.25rem;
    line-height: 35px;
    padding: 20px;
}

#venue-details .details h3 {
    font-size: 1.5rem;
    padding-bottom: 15px;
}

#venue-details .details li {
    display: flex;
    padding: 10px 0;
}

#venue-details .details li i {
    font-size: 1.25rem;
    padding-right: 22px;
}

#venue-details .details li p {
    margin: 0;
    font-size: 1.5rem;
}

#venue-details .map {
    width: 95%;
    height: 400px;
}

#venue-details .map iframe {
    width: 100%;
    height: 100%;
}


/* Media Queries */

@media screen and (max-width: 360px) {
    .cart {
        width: 280px;
    }
}

@media screen and (max-width: 400px) {
    .cart {
        width: 320px;
    }
}


/* Tablets */
@media screen and (min-width: 576px) {
    html {
        font-size: 16px;
    }

    #banner {
        height: 200px;

    }

    h1 {
        margin: 16px 0;
    }

    .ticket-group input,
    select,
    textarea {
        width: auto;
    }

    .form-group textarea {
        width: 80%
    }
}

/* Mobiles - Max Width */
@media (max-width: 767px) {

    /* Nav bar styles */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -310px;
        height: 100vh;
        width: 300px;
        background: rgb(181, 189, 195);
        background: linear-gradient(225deg, rgba(181, 189, 195, 1) 0%, rgba(95, 156, 200, 1) 50%, rgba(181, 189, 195, 1) 100%);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 1;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: var(--bg-color);
        font-size: 1.5rem;
        padding-left: 20px;

    }

    /* About Section */
    #contact-button {
        margin-top: 40px;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-left: 0;
        margin-right: 0;
        display: block;
    }

    #about-image-wrap {
        margin-bottom: -10px;
    }
}

/* Laptops */
@media screen and (min-width: 768px) {

    /* Nav bar styles */
    #navbar li a:hover,
    #navbar li a.active {
        color: var(--s1-color);
    }

    #navbar li a.active::after,
    #navbar li a:hover::after {
        background-color: var(--main-color);
    }

    #navbar li a {
        color: var(--bg-color);
    }

    /* index.html styles */
    #banner {
        height: 250px;
    }

    h1 {
        margin: 20px 0;
    }

    #about-index {
        max-width: 800px;
        flex-direction: row;
    }

    #description {
        width: 50%;
        padding-right: 8px;
    }

    #band {
        width: 50%;
    }

    #shows {
        max-width: 800px;
    }

    /* Shows list/table styles */
    #shows-list {
        display: none;
    }

    #shows-table {
        display: table;
        width: 100%;
        border: 1px solid var(--s3-color);
        border-collapse: collapse;
    }

    .shows-header-row th {
        border: 1px solid var(--s3-color);
        padding: 8px;
        background-color: #DBEAFE;
        text-align: center;
        color: #222222;
    }

    .shows-data-row td {
        border: 1px solid var(--s3-color);
        padding: 8px;
        text-align: center;
    }

    #shows-table tr:nth-child(odd) {
        background-color: #EFF6FF;
    }

    /* Ticket form styles */
    #ticket-book {
        max-width: 800px;
    }

    /* About.html styles */
    #about-section {
        flex-direction: row;
        max-width: 1080px;
    }

    #about-text {
        width: 50%;
    }

    #about-image-wrap {
        width: 50%;
    }

    .info-section-subtitle {
        width: 700px;
    }

    .info-section-boxes {
        flex-direction: row;
    }

    .info-section-box {
        flex-basis: 33.33%;
    }

    .info-card {
        width: calc(100% / 3 - 20px);
        margin: 0 10px;
        border-radius: 5px;
    }

    /* live.html styles */
    /* Band Info Styling */
    #band-details {
        flex-direction: row;
    }

    #band-details .details {
        width: 40%;
        margin-bottom: 0;
    }

    #band-details .map {
        width: 55%;
    }

    /* Venue Info Styling */
    #band-details {
        flex-direction: row;
    }

    #band-details .details {
        width: 40%;
        margin-bottom: 0;
    }

    #band-details .map {
        width: 55%;
    }
}

/* Desktops */
@media screen and (min-width: 992px) {

    html {
        font-size: 16px;
    }

}

@media screen and (max-width: 1080px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}

/* Large Desktops */
@media screen and (min-width: 1200px) {

    #banner {
        height: 300px;
    }
}