/* Universal styles*/
html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
    color: #444444;
}

a {
    text-decoration: none;
    color: #3b82f6;
}

a:hover,
a:focus {
    color: #1d4ed8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #222222;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 12px 0;
}

/* Nav Bar Styles */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80x;
    background-color: #bcc0c3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #434645;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #5f9cc8;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #cb8757;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#bar {
    width: 16px;
    height: 16px;
}

#close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 16px;
}

#close-img {
    height: 16px;
    width: 16px;
}

/* Misc. Styles */
#logo {
    height: 75px;
    width: auto;
    margin: 0;
}

#banner {
    width: 100%;
    height: 150px;
    object-fit: cover
}


/* Styles for about */

#about {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}

#description {
    font-size: 1.25rem;
}

#description-info {
    margin-top: 0;
}

#band {
    width: 100%;
}

#band-image {
    border-radius: 5px;
    width: 100%;
    height: 240px;
    border: 1px solid black;
}

/* Styles for albums */

.album-name {
    color: gray;
    margin-bottom: 16px;
}

.album-year {
    color: gray;
    margin-bottom: 16px;
}

#albums {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

.listen-spotify {
    float: right;
}


/* Styles for shows list/table*/

h2 {
    text-align: center;
    font-size: 2rem;
}


#shows {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

.show-info {
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 8px;
}

#shows-list {
    display: block;
}

.show-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #222222;
}

.show-detail {
    margin-top: 4px;
    color: #555555;
}

#shows-table {
    display: none;
}

/* Footer Styles and copyright */
h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.75rem;

}

#footer {
    background-color: #F8FAFC;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
    text-align: center;
}

#footer-links li {
    padding: 0 16 px;
    margin: 8px 16px;
}

.copyright {
    color: #71717A;
    font-size: 0.875rem;
}

/* Form styles, will use for index.html and about us*/

#ticket-book {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

.ticket-group {
    margin: 16px;
}

.ticket-group label {
    font-weight: 600;
}

.ticket-group input,
select,
textarea {
    width: 90%;
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.ticket-group textarea {
    font-family: 'Courier New', Courier, monospace
}

.ticket-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.ticket-group input[type="submit"] {
    background-color: #3B82F6;
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
}

/* Media Queries */
/* Tablets */
@media screen and (min-width: 576px) {
    html {
        font-size: 16px;
    }

    #banner {
        height: 200px;

    }

    h1 {
        margin: 16px 0;
    }

    .ticket-group input,
    select,
    textarea {
        width: auto;
    }

    .form-group textarea {
        width: 80%
    }

    #footer-links li {
        display: inline;
    }
}

@media (max-width: 767px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -310px;
        height: 100vh;
        width: 300px;
        background-color: #bcc0c3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }


    #mobile i {
        color: #1a1a1a;
        font-size: 1.5rem;
        padding-left: 20px;

    }
}

/* Laptops */
@media screen and (min-width: 768px) {


    /* Nav Bar Styles */
    #banner {
        height: 250px;
    }

    h1 {
        margin: 20px 0;
    }

    #about {
        max-width: 800px;
        flex-direction: row;
    }

    #description {
        width: 50%;
        padding-right: 8px;
    }

    #band {
        width: 50%;
    }

    #shows {
        max-width: 800px;
    }

    #shows-list {
        display: none;
    }

    #shows-table {
        display: table;
        width: 100%;
        border: 1px solid gray;
        border-collapse: collapse;
    }

    .shows-header-row th {
        border: 1px solid gray;
        padding: 8px;
        background-color: #DBEAFE;
        text-align: center;
        color: #222222;
    }

    .shows-data-row td {
        border: 1px solid gray;
        padding: 8px;
        text-align: center;
    }

    #shows-table tr:nth-child(odd) {
        background-color: #EFF6FF;
    }

    #ticket-book {
        max-width: 800px;
    }

}

/* Desktops */
@media screen and (min-width: 992px) {

    html {
        font-size: 16px;
    }

}

/* Large Desktops */
@media screen and (min-width: 1200px) {

    #banner {
        height: 300px;
    }

}