/* Universal styles*/
html{
    font-size: 20px;
    background-color:whitesmoke
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
    color: #444444;
}

a{
    text-decoration: none;
    color: #3b82f6;
}

a:hover, a:focus{
    color: #1d4ed8;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #222222;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

h2{
    text-align: center;
    font-size: 2rem;
}

/* Misc. Styles */
#logo{
    height:100px;
    width:100px;
    margin: 0;
}

#navbar {
    padding: 8px;
    margin: 0;
    
}

#banner {
    width: 100%;
    height: 500px;
    object-fit: cover
}


/* Styles for about */

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

#description{
    width: 50%;
    padding-right: 8px;
    font-size: 1.25rem;
}

#description-info{
    margin-top: 0;
}

#band-image{
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
}

/* Styles for albums */

.album-name {
    color: gray;
    margin-bottom: 16px;
}

.album-year {
    color: gray;
    margin-bottom: 16px;
}

#albums {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

.listen-spotify{
    float:right;
}
/* Styles for shows Table */

#shows{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

#shows-table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse; 
}

.shows-header-row th{
    border: 1px solid gray;
    padding: 8px;
    background-color: #DBEAFE;
    text-align: center;
    color: #222222;
}

.shows-data-row td{
    border: 1px solid gray;
    padding: 8px;
    text-align: center;
}

#shows-table tr:nth-child(odd){
    background-color: #EFF6FF;
}

/* Footer Styles and copyright */
h3{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.75rem;

}

#footer{
    background-color: #F8FAFC;
    padding:8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links{
    list-style: none;   
    text-align: center;
}

#footer-links li{
    display: inline;
    padding: 0 16 px;
}

.copyright{
    color: #71717A;
    font-size: 0.875rem;
}

/* Form styles, will use for index.html and about us*/

#ticket-book {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

.ticket-group{
    margin: 16px;
}

#ticket-form label {
    font-weight: 600;
}

#ticket-form input, select, textarea{
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.ticket-group textarea{
    width: 80%;
    font-family: 'Courier New', Courier, monospace
}

.ticket-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
}

.ticket-group input[type="submit"]{
    background-color: #3B82F6;
    color:whitesmoke;
    font-weight: 500;
    cursor: pointer;
}